.container-notification-box{
    display: flex;
    align-items: center;
    /* margin-top: 3px; */
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
    transition: 0.5s;
}

.container-notification-box:hover{
    background-color: lightgray;
    transition: 0.5s;
}

.left-side-notification-box{
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#img-user-notification{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.right-side-notification-box{
    margin-left: 10px;
    cursor: pointer;
}

#label-name-notification{
    font-weight: bold;
    cursor: pointer;
}

#label-description-notification{
    cursor: pointer;
}