.container-post{
    background-color: white;
    width: 500px;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.container-post-info{
    display: flex;
    justify-content: space-between;
}

#label-name-postbox{
    display: flex;
    padding: 3px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#profile-image{
    width: 50px;
    border-radius: 30px;
    height: 50px;
    margin-right: 10px;
}

.container-name-privacy-postbox{
    display: flex;
    flex-direction: column;
}

#name-user-postbox, #name-user-postbox:visited{
    color: black;
}

#name-user-postbox:hover{
    cursor: pointer;
    text-decoration: underline;
}

.container-time-privacy{
    display: flex;
    align-items: center;
}

#time-post-box{
    font-weight: normal;
    margin-right: 8px;
    margin-left: 3px;
    font-size: 15px;
    margin-top: 3px;
    color: rgb(109, 109, 109);
}

#privacy-postbox{
    margin-top: -3px;
}


#img-public-privacy-postbox, #img-friends-privacy-postbox,
#img-onlyme-privacy-postbox{
   font-size: 12px;
   color: rgb(82, 82, 82);
}

#post-image{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

#container-text-post-postbox{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    word-wrap: break-word;
}

#label-post-likes-counter{
    color: rgb(69, 69, 69);
    margin-left: 25px;
}

#label-comments-postbox, #label-shares-postbox{
    background: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;
}

#label-comments-postbox:hover, #label-likes-postbox:hover,
#label-shares-postbox:hover{
    background-color: rgb(218, 218, 218);
    transition: 0.5s;
}

.container-labels-postbox{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

#divider-post-box, #divider-two-post-box{
    margin-left: 2px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(171, 171, 171);
    width: 98%;
    margin-bottom: 10px;
    cursor: default;
}

#divider-post-box:hover{
    cursor: default;
}