.container-comment{
    margin-top: 10px;
    padding: 5px;
}

.container-comment-info{
    display: flex;
}

#img-user-commentbox{
    height: 35px;
    margin-top: 8px;
}

#profile-img-commentbox{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.container-user-text-commentbox{
    background-color: lightgray;
    margin-left: 5px;
    padding: 5px;
    border: none;
    border-radius: 9px;
    width: 380px;
}

#name-user-commentbox{
    font-weight: bold;
}

#name-user-commentbox:hover{
    text-decoration: underline;
}

#label-text-comment{
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 5px;
    word-wrap: break-word;
}
