.main-feed{
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.middle-feed{
    margin-top: 20px;
    margin-right: 100px;
}

.container-button-new-post{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    display: flex;
}

#photo-create-post{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
}

#photo-create-post:hover{
    cursor: pointer;
}

#button-new-post-feed{
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    color: rgb(109, 109, 109);
    text-align: left;
    transition: 0.5s;
}

#button-new-post-feed:hover{
    cursor: pointer;
    background-color: rgb(201, 201, 201);
}

.right-feed{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    border: none;
    border-radius: 8px;
}

.container-pages, .container-friends-request,
.container-events, .container-contacts{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: none;
}

#label-your-pages, #label-friend-request,
#label-events, #label-contacts{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(63, 63, 63);
}

#divider-pages-feed-right, #divider-request-feed-right,
#divider-events-feed-right, #divider-contacts-feed-right {
    background: none;
    cursor: default;
    border: none;
    border-bottom: 1px solid rgb(171, 171, 171);
}