.main-feed{
    display: flex;
    justify-content: space-evenly;
}

.left-feed{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

#button-profile, #button-groups, #button-market, 
#button-saved{
    font-size: 25px;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: default;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

#button-profile:hover, #button-groups:hover, 
#button-market:hover, #button-saved:hover{
    cursor: pointer;
    background-color: #619b77;
    transition: 0.5s;
}

#label-link-profile:hover, #label-link-groups:hover,
#label-link-market:hover, #label-link-saved:hover{
    cursor: pointer;
}

#img-button-profile{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 15px;
}

#img-button-groups, #img-button-market, #img-button-saved{
    margin-right: 10px;
}

.middle-feed{
    margin-top: 20px;
}

.container-button-new-post{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    display: flex;
}

#photo-create-post{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
}

#photo-create-post:hover{
    cursor: pointer;
}

#button-new-post-feed{
    background-color: rgb(231, 231, 231);
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 35px;
    font-size: 20px;
    color: rgb(109, 109, 109);
    text-align: left;
    transition: 0.5s;
}

#button-new-post-feed:hover{
    cursor: pointer;
    background-color: rgb(201, 201, 201);
}

.right-feed{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    border: none;
    border-radius: 8px;
}

.container-pages, .container-friends-request,
.container-events, .container-contacts{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: none;
}

#label-your-pages, #label-friend-request,
#label-events, #label-contacts{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(63, 63, 63);
}

#divider-pages-feed-right, #divider-request-feed-right,
#divider-events-feed-right, #divider-contacts-feed-right {
    background: none;
    cursor: default;
    border: none;
    border-bottom: 1px solid rgb(171, 171, 171);
}