.container-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.container-top-profile{
    width: 35%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.container-left-top-profile{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#img-profile{
    border-radius: 100px;
    width: 120px;
    height: 120px;
}

#label-name-profile{
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

.container-right-top-profile{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

#button-edit-profile{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 50px;
    transition: 0.5s;
}

#button-edit-profile:hover{
    cursor: pointer;
    background-color: #8ec2a1;
    transition: 0.5s;
}

#img-edit-profile{
    margin-right: 5px;
}

.container-bottom-profile{
    margin-top: 20px;
    display: flex;
}

.left-side-profile{
    padding: 5px;
    border-radius: 8px;
    margin-right: 20px;
}

#container-bio-profile{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    margin-bottom: 50px;
}

#button-edit-bio, #button-edit-details{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 15px;
    width: 200px;
    transition: 0.5s;
}

#button-edit-bio:hover, #button-edit-details:hover{
    background-color: #8ec2a1;
}

#container-friends-profile{
    border-radius: 8px;
    background-color: white;
    padding: 5px;
}

#title-intro-profile, #title-friends-profile{
    font-size: 20px;
    font-weight: bold;
}