/* TODO Add site wide styles */
body{
    background-color: #abc0b3;
}

form > .errors {

    color: red;
    /* font-size: ; */
    display: flex;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
}

button{
    cursor: pointer;
}